@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

// Featured video on screen ********************
.video {
  &__container {
    position: relative;
    background-color: black;
    text-align: center;
  }

  &__image {
    position: relative;
    height: 45vh;
    width: 100%;
    text-align: center;
    @include tablet {
      width: 70%;
      height: 47vh;
    }
    @include desktop {
      width: 70%;
      height: 65vh;
    }
  }
  
}
