@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.button {
  border-radius: 4px;
  background-color: $blue-primary;
  border-style: none;
  color: $white-primary;
  font-weight: bold;
  font-size: $mobile-subheader;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 40px;
  margin-top: 1.3rem;

  @include tablet {
    margin-top: 0;
    font-size: $tab-desk-subheader;
    width: 150px;
    padding: auto 32px;
  }
  &__div-icon {
    width: 45%;
    text-align: left;
  }
  &__icon {
    align-items: center;
    text-align: center;
    font-size: $mobile-subheader;
    @include tablet {
      font-size: $tab-desk-subheader;
    }
  }

// publish and cancel div
  &__publish-and-cancel{
    @include tablet{
      display: flex;
      margin-top: 1rem;
      justify-content: flex-end;
      border-top: 2px solid $mercury-secondary;
      padding-top : 1rem
    }
    @include desktop{
      width: 82vw;
      margin: 1rem 4rem;
    }
  }
}

// For Upload button only
.upload__button {
  @include tablet {
    position: absolute;
    left: 68%;
  }
  @include desktop {
    margin: auto 2rem auto 2rem;
    left: 69%;
  }
}

// For Comment button only
.comment__button {
  @include tablet {
    margin: 3.3rem 1rem;
    padding-right: 1.2rem;
    @include tablet {
      margin: 3.3rem 1rem 0 1rem;
    }
  }
}

// For Publish Button only
.publish__button{
  @include tablet{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    position: relative;
  }
}

a{
  margin-bottom: 2.5rem;
}

// Cancel Button
.cancel-button {
  color: $blue-primary;
  background-color: $white-primary;
  font-weight: bold;
  font-size: $mobile-subheader;
  border-style: none;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 40px;
  margin-top: 1.3rem;
  @include tablet{
    margin-top: 0;
    font-size: $tab-desk-subheader;
    width: 150px;
    padding: auto 32px;
    position: absolute;
    right: 30%;
  }
}
