@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.avatar {
  background-color: $silver-primary;
    width: 2.25rem;
    height: 2.25rem;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 1rem 0 0;

    @include tablet {
      width: 3rem;
      height: 3rem;
    }
}
